name: build

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'docker-bake.hcl'
      - 'Dockerfile'

env:
  DOCKER_IMAGE: chocolatefrappe/nginxconfig.io

jobs:
  build:
    runs-on: ubuntu-latest
    # continue-on-error: true
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_IMAGE }}
          tags: |
            type=raw,value=latest
            type=sha

      - name: Generate GitHub metadata
        id: github-meta
        uses: dockerbakery/github-metadata-action@v4

      - name: Build and push
        uses: docker/bake-action@v6
        with:
          files: |
            docker-bake.hcl
            cwd://${{ steps.meta.outputs.bake-file }}
            cwd://${{ steps.github-meta.outputs.bake-file }}
          push: ${{ github.event_name != 'pull_request' }}
